* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    padding:0 2%;
    margin:0 auto;
    flex-wrap: wrap;
}

section.main {
    background-image:url('../images/hero_background_wb_digital.svg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 20px 0;
}

.logo-menu img {
    width: 33%;
}

.menu {
    display: flex;
    width: 100%;
}

.items-menu {
    width: 67%;
}

.items-menu a {
    font-weight: bold;
    color: #F6F6F6;
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
}

.items-menu a:hover {
    border-bottom:2px solid #E00914;
}

.items-menu a.contact-btn{
    background-color: #E00914;
    padding: 7px 15px;
    border-radius: 8px;
}

.items-menu a.contact-btn:hover{
    border: 0;
}

.mockup {
    display: block; /* Use for breakline between H2 and P */
    width: 100%;
    color: #F6F6F6;
    text-align: center;
    padding-top: 100px;
}

.mockup h1 {
    font-size: 40px;
    font-weight: 500;
}

.mockup p {
    font-size: 20px;
    font-weight: 300;
}

.mockup img {
    width: 50%;
    padding-top: 15px;
}

section.brands {
    padding: 25px 0;
}
section.brands img{
    width: calc(100% / 5);
}

section.why-us {
    padding:40px 0;
    background-color: #FEF3F3;
}
section.why-us > .center {
    max-width: 1280px;
}

section.why-us > .center > h2 {
    font-size: 64px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}

section.why-us > .center > p {
    font-size: 16px;
    text-align: center;
    color: #AAA;
    width: 100%;
}

.differentials {
    display: flex;
    margin-top:50px;
}

.differentials-box {
    box-shadow: 0px 20px 40px #2426721C;
    width: 31%;
    margin-right: 2%;
    padding:40px 30px;
    background-color: white;
    border-radius: 12px;
}

.differentials-box h3 {
    font-size: 22px;
    margin: 20px 0;
    color: black;
}

.differentials-box p {
    font-size: 16px;
    color: #7E92AC;
}

.differentials-box img {
    width: 20%;
}

@media screen and (max-width: 768px) {
    .differentials {
        flex-wrap: wrap;
    }
    .differentials-box {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    section.brands > .center{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    section.brands img {
        max-width: 200px;
        width: 100%;
    }
}